.tableData {
    display: flex;
    width: 100%;
    color: white !important;
    background-color: #2b3642 !important;
    /* margin-left: 2rem; */
    /* height: 450px !important; */
  }
  .tableCell {
    /* color: white !important; */
    font-size: larger !important;
  }
  .tableBody {
    height: 400px !important;
  }
  .tableContainer {
    background-color: #2b3642 !important;
    color: white !important;
  }
  
  .delButton, .delActiveButton{
    background-color: grey;
    color: white;
    font-size: larger;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    outline: none;
  }
  .delActiveButton{
    background-color: red;
  }
  .css-1q1u3t4-MuiTableRow-root {
    background-color: white !important;
  }